<!DOCTYPE html>
<html lang="en">
<head>
    <title>Adicionar contato</title>
</head>
<body>
    <form action="{% url 'add_contato' %}" method="POST"> {% csrf_token %}

        <input type="text" placeholder="Nome" name="nome" >
        <input type="number" placeholder="Telefone" name="telefone" >
        <input type="email" placeholder="E-mail" name="email" >
        <input type="text" placeholder="Endereço" name="endereco" >

        <label for="categoria">Categoria:</label>
        <select name="categoria" id="categoria" required>
            {% for categoria in categorias %}
                <option value="{{ categoria.id }}">{{ categoria.nome }}</option>
            {% endfor %}
        </select><br><br>

        <button type="submit">Cadastrar</button>

    </form>
</body>
</html>