<!DOCTYPE html>
<html lang="pt">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <h1>{{ request.user }}</h1>
    <title>Agenda - Home</title>
    <style>
        body {
            font-family: Arial, sans-serif;
            text-align: center;
            background-color: #38393b;
            padding: 20px;
        }
        h1 {
            color: #ffffff;
        }
        a {
            display: inline-block;
            margin: 10px;
            padding: 10px 20px;
            text-decoration: none;
            background-color: #636567;
            color: white;
            border-radius: 5px;
        }
    </style>
</head>
<body>
    <h1>Bem-vindo à Agenda</h1>
    <a href="{% url 'lista_contatos' %}">Ver Contatos</a>
</body>
</html>
